

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.greeting {
  color: rgb(248, 242, 210);
  font-size: 60px;
  padding: 0% 0%;
  border-color: #000000;
  border-radius: 10px;
}
.nav-link {
  color: rgb(248, 242, 210);
  padding: 0% 0%;
}
.navbar {
  justify-content: center;
  background: url(../img/img3.png);
  background-repeat: repeat;
  size: 100px;
}

.App-header {
  background-color: #282c34;
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 5vmin);
  color: rgb(194, 223, 250);

}

.navbar_search {
  display: flex;
  padding: 0% 300%;
  color: #ffffff;
  text-decoration-color: rgb(255, 255, 255);
}

.navbar_cath {
  display: flex;
  font-size: 26px;
  margin: 10px;
}

.navbar_input {
  width: 600px;
  text-decoration-color: rgb(255, 255, 255);
}

.btn-secondary {
  color: #1d2a38;
  background-color: #ffd967;
  border-color: #000000;
}

.bookCards {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: space-around;
  }
  
  .book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  max-height: 550px;
  min-height: 500px;
  margin-bottom: 50px;
  background-color: rgb(235, 234, 227);
  text-decoration: none;
  }

  .book-category {
    padding-top: 10px;
    color: rgb(99, 93, 19);
    font-weight: 400;
    font-size: 18px;
    text-decoration: underline;
    }
    
    .book-title {
    font-weight: bold;
    color: #44400b;
    font-size: 25px;
    }
    
    .book-author {
    color: rgb(124, 122, 95);
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 10px;
    }

    .results {
      align-items: center;
      justify-content: center;
      display: flex;
      font-size: 26px;
      margin: 10px;
      color: #44400b;
      background-color: rgb(248, 246, 243);
    }


    .pagination {
      align-items: center;
      justify-content: center;
    }

    .pagination-button-left {
    display: flex;
    color: #1d2a38;
    background-color: #ffd967;
    border-color: #000000;
    margin: 10px;
    }

    .pagination-button {
    display: flex;
    color: #1d2a38;
    background-color: #ffd967;
    border-color: #000000;
    margin: 10px;
    }
    .image-container {
      width: 50%;
      height: 100%;
      background-color: rgb(207, 190, 163);
      }
      
      .info-text {
      width: 50%;
      height: 100%;
      background-color: rgb(235, 233, 221);
      }
      
      .left {
      left: 0;
      }
      
      .right {
      right: 0;
      }


     .split {
      height: 100%;
      width: 50%;
      position: fixed;
      z-index: 1;
      top: 0;
      overflow-x: hidden;
      padding-top: 20px;
      }
      
      .centered {
      width: 70%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      }
      
      .info-image {
      height: 70vh;
      width: 45vh;
      }


     .book-link {
      text-decoration: none;
      }
      
      .description {
      color: #31220a;
      font-size: 14px;
      }
      
      .close {
      position: absolute;
      right: -8%;
      top: -4%;
      font-size: 45px;
      font-weight: 600;
      cursor: pointer;
      }
      
      .book-card {
      cursor: pointer;
      }

        .main-cat {
        font-size: 30px;
        }
        .main-title {
        font-size: 30px;
        }
        .main-author {
        font-size: 30px;
        }
        .description {
        font-size: 30px;
        }

.App-link {
  color: #00c8ff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
